$BK : #292F33;
$IV : #FFFAF0;
$GN-1 : #BBE1A5;
$GN-2 : #77B255;
$GN-3 : #5C913B;
$GN-4 : #3E721D;
$GN-5 : #33541E;
$GN-6 : #1F390F;
$RE : #8c3333;

$browser-context : 8;

@function rem($px, $context: $browser-context) {
    @return #{$px/$context}rem;
}