@import '../../style/var.scss';

.stretching {
    background: #39473e;
    display: flex;
    gap: 0.5vw;

    .stretching-steps-wrapper {
        width: 14vw - 2vw;
        padding: 1vw;
        display: flex;
        flex-direction: column;
        gap: 1vw;

        .stretching-step {
            width: 100%;
            height: 9vw;
            border-radius: 0.5vw;
            overflow: hidden;
            background-size: cover;
            position: relative;
            cursor: pointer;
            border: 0.2vw solid;
            transition: 0.2s;

            .stretching-step-num {
                width: 1.5vw;
                height: 1.5vw;
                line-height: 1.5vw;
                font-size: 0.9vw;
                border-radius: 50%;
                position: absolute;
                left: 0.5vw; top: 0.5vw;
                background-color: $GR-6;
                color: $IV;
                font-weight: 600;
            }
            
            .stretching-step-complete { 
                width: 100%; 
                height: 100%; 
                position: absolute;
                left: 0; top: 0;
                background-color: #00000090;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 3vw;
                color: $GN-2;
            }

            &#current-stretching {
                border-color: $RE;
            }
        }
    }

    .stretching-webcam-container {
        $webcam-padding-top: 2vh;
        $webcam-padding-left: 2vh;
        $webcam-gap: 2vh;
        $webcam-height: 90vh;

        // width: calc(100% - 15vw - $webcam-padding-top - $webcam-padding-left);
        flex-grow: 1;
        height: 100vh - $webcam-padding-top * 2;
        padding: $webcam-padding-top $webcam-padding-left;
        display: flex;
        justify-content: center;
        align-items: center;

        .stretching-webcam-wrapper {
            width: 100%;
            max-width: 1100px;
            max-height: 100%;
            gap: $webcam-gap;
            display: flex;
            flex-direction: column;
            position: relative;
        }

        .stretching-webcam {
            width: 100%;
            // height: $webcam-height;
            border-radius: 1vw;
            overflow: hidden;

            video {
                width: 100%;
                object-fit: cover;
            }
        }

        .curr-stretching-info-wrapper {
            flex-grow: 1;

            .second {
                width: 5vw; height: 5vw;
                line-height: 4.7vw;
                border-radius: 50%;
                position: absolute;
                bottom: 30vh;
                right: 4vw;
                font-weight: 600;
                font-size: 2.5vw;
                color: $IV;
                background-color: #00000050;
                border: 0.4vw solid $IV;
            }

            .stretching-alert-text {
                position: absolute;
                top: 2vw;
                left: 50%;
                transform: translateX(-50%);
                font-size: 1vw;
                padding: 1vw 1.2vw;
                border-radius: 3vw;
                font-weight: 600;
                color: $IV;

                &#incorrect { background-color: $RE; }
                &#correct { background-color: $GN-3; }
            }

            img {
                width: 8vw;
                height: 6vw;
                object-fit: cover;
                border-radius: 1vw;
            }

            .curr-stretching-description {
                font-size: 1.4vw;
                font-weight: 500;
            }

            .curr-stretching-info {
                border-radius: 1vw;
                display: flex;
                gap: 2vw;
                align-items: center;
                padding: 2vw;
                background: $IV;
            }
        }
    }
}